.shop-section {
    padding: 10px;
    background: var(--simple-grayBG);
}
.shop-section .shop-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shop-section .shop-box .imgz {
    /* flex: 1; */
}
.shop-section .shop-box .imgz img {
    width: 300px;
    border-radius: 10px;
}
.shop-section .shop-box .textz {
    flex: 2;
    padding-left: 10px;
}
.shop-section .shop-box .textz .text-cont {
    display: flex;
}
.shop-section .shop-box .textz .left {
    flex: 2;
}
.shop-section .shop-box .textz .name {
    color: var(--sampledarkpurple);
    font-size: 21px;
    font-weight: 600;
}
.shop-section .shop-box .textz .location {
    font-weight: 400;
    font-size: 16px;
    display: flex;
}
.shop-section .shop-box .textz .right {
     flex: 2;
}