.confirmordecline {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.544);
    z-index: 30;
    position: fixed;
    display: none;
}
.confirmordecline .cordec-cont {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;   
}
.confirmordecline .cordec-cont .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.confirmordecline .cordec-cont .header h2 {
    flex: 2;
    padding-left: 10px;
    padding-top: 6px;
    font-size: 20px;
    color: #007ff5;
}
.confirmordecline .cordec-cont .header .closeconordeclbtn {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding-right: 6px;
    padding-top: 6px;
}
.confirmordecline .cordec-cont .header .closeconordeclbtn i {
    color: #d33030;
}
.confirmordecline .cordec-cont .confirm-content {
    padding-left: 10px;
}