.hitshops-box{
    width: 300px;
    border-radius: 10px;
}
.hitshops-box a {
    text-decoration: none;
    color: var(--main-black);
    display: flex;
    flex-direction: row;
}
.hitshops-box img {
    width: 100px;
    border-radius: 50%;
}
.hitshops-box .details {
    padding: 10px;
}
.hitshops-box .details .name {
    color: var(--sampledarkpurple);
    font-weight: 800;
}
.hitshops-box .details .genres {
    font-size: 14px;
}
.hitshops-box .details .genres span {
    font-size: 14px;
}
.hitshops-box .details .sold {
    color: var(--main-actingcolor);
    font-weight: 400;
}
/* --main-actingcolor */