.sliding-cont {
    flex: 3;
    overflow: hidden;
}
.slider {
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.slide {
    width: 350px;
    height: 250px;
    align-items: center;
    perspective: 100px;
    overflow: hidden;
    margin: 10px;
}
.slide img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.slide .description {
    margin-top: -250px;
    padding: 10px;
    width: 350px;
    height: 250px;
    overflow: auto;
    user-select: none;
}
.slide .description .descr-cont {
    z-index: 15;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.slide .description h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: var(--main-actingcolor);
    flex: 1;
}
.slide .description p {
    font-weight: 800;
    flex: 2;
}