.main-gate {
    background: var(--simple-headerBG);
}
.home-dashboard {
    padding: 10px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* height: 90vh; */
}
.home-dashboard .dash-center {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.home-dashboard .dash-center .dash {
    user-select: none;
    background: #fff;
    cursor: pointer;

}
.home-dashboard .dash-center .dash:hover {
    background: rgb(83, 83, 83);
}