.menu-links-div {
    position: fixed;
    background: #000000cd;
    width: 100%;
    height: 100%;
}
.menu-links-div .linheighdiv {
    height: 60px;
} 

.menu-links-div .menu-cont .close {
    padding: 10px;
}
.menu-links-div .menu-cont .close button {
    background: transparent;
    border: 0;
    cursor: pointer;
}
.menu-links-div .menu-cont .close button i {
    color: var(--samplered);
    font-size: 25px;
}