.modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.544);
    z-index: 30;
    position: fixed;
}

/* Signup button modal containers */
#s-t-modal,
#s-in-modal {
    display: none;
}
#s-t-modal .signup-type {
    
}
#s-t-modal .signup-type .s-t-cont {
    /* padding: 10px; */
}
#s-t-modal .signup-type .s-t-cont .header,
#s-in-modal .sign-in-type .s-in-cont .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#s-t-modal .signup-type .s-t-cont .header h2 {
    /* flex: 2;
    font-size: 20px;
    color: #ff6c00; */
}
#s-t-modal .signup-type .s-t-cont .header #close-s-t-btn,
#s-in-modal .sign-in-type .s-in-cont .header #close-s-in-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
}
#s-t-modal .signup-type .s-t-cont .header #close-s-t-btn i,
#s-in-modal .sign-in-type .s-in-cont .header #close-s-in-btn i {
    color: #d33030;
}
#s-t-modal .signup-type .s-t-cont .s-t-body {
    /* padding: 10px; */
}
#s-t-modal .signup-type .s-t-cont .s-t-body p {
    /* font-weight: 900; */
}
#s-t-modal .signup-type .s-t-cont .s-t-body .b-cont {
    margin: 10px;
}
#s-t-modal .signup-type .s-t-cont .s-t-body .b-cont a {
    
}
#s-t-modal .signup-type #cancel-s-t-btn,
#s-in-modal .sign-in-type #cancel-s-in-btn {
    
    /* color: #fff; */
}

/* Buyer cancel the order */
.cancel-order-buyer {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.544);
    z-index: 30;
    position: fixed;
    display: none;
}
.buyer-cancel-order {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
}
.cancel-order-cont .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.173);
}
.cancel-order-cont .header h2 {
    flex: 2;
    font-size: 20px;
    color: #007ff5;
}
.cancel-order-cont .header button {
    background: transparent;
    border: 0;
    cursor: pointer;
}
.cancel-order-cont .header button i {
    color: #d33030;
}
.cancel-order-cont .cancel-bdy {
    padding: 10px;
}
.cancel-order-cont .cancel-bdy .ask {
    padding: 10px;
    text-align: center;
}
.cancel-order-cont .cancel-bdy .btnz {
    text-align: center;
}
.cancel-order-cont .cancel-bdy .btnz button {
    background: transparent;
    border: 0;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}
.cancel-order-cont .cancel-bdy .btnz .yes-cancel {
    background: #800080;
}
.cancel-order-cont .cancel-bdy .btnz .no-cancel {
    background: #d33030;
}
.cancel-order-cont .cancelbtn-foot {
    background: transparent;
    border: 0;
    padding: 10px;
    width: 100%;
    background: rgba(145, 145, 145, 0.547);
}




/* Outer of session deliver modal */
.outdelivermodal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.544);
    z-index: 30;
    position: fixed;
    display: none;
}

/* .del-box .header h2 {
    flex: 2;
    color: #007ff5;
    font-size: 20px;
    padding: 5px;
}
.del-box .header .canceldeli {
    background: transparent;
    border: 0;
    padding: 5px;
}
.del-box .header .canceldeli i {
    color: #d33030;
}
.del-box .deliv-content {
    text-align: center;
}
.del-box .deliv-content .aa {
    margin: 10px;
    font-weight: 700;
}
.del-box .deliv-content .btndel {
    padding: 10px;
}
.del-box .deliv-content .btndel a {
    color: #fff;
    border-radius: 3px;
}
.outCreatBTN {
    background: #007ff5;
}
.outLoginBTN {
    background: #007ff5;
}
 */



/* Seller confirm order */
.seller-confirmorder-modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.544);
    z-index: 30;
    position: fixed;
    display: none;
}
.confirm-ordercont {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
}
.confirm-ordercont .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.confirm-ordercont .header h2 {
    flex: 2;
    color: #007ff5;
    font-size: 20px;
    padding: 5px;
}
.confirm-ordercont .header button {
    background: transparent;
    border: 0;
    padding: 5px;
}
.confirm-ordercont .header button i {
    color: #d33030;
}
.confirm-ordercont .cofn-modal-content {
    /* padding: 10px; */
}



/* Seller new payment  method  */
.seler-newpyt-method{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.544);
    z-index: 30;
    position: fixed;
    display: none;
}
.buyer-newpyt-method {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.544);
    z-index: 30;
    position: fixed;
    display: none;
}
.method-cont {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
}
.method-cont .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.method-cont .header h2 {
    flex: 2;
    color: #007ff5;
    font-size: 20px;
    padding: 5px;
}
.method-cont .header button {
    background: transparent;
    border: 0;
    padding: 5px;
}
.method-cont .header button i {
    color: #d33030;
}
.method-cont .method-contents {
    padding: 10px;
}


/* Seller Delete payment method modal */
.deletepyt-modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.544);
    z-index: 30;
    position: fixed;
    display: none;
}
.deletepyt-modal .pyt-cont {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
}
.deletepyt-modal .yesnosdelete .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.deletepyt-modal .yesnosdelete .header h2 {
    flex: 2;
    color: #007ff5;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.deletepyt-modal .yesnosdelete .header button {
    background: transparent;
    border: 0;
    padding: 5px;
}
.deletepyt-modal .yesnosdelete .header button i {
    color: #d33030;
}
.deletepyt-modal .yesnosdelete .yesnobox {
    text-align: center;
    padding-bottom: 10px;
}
.deletepyt-modal .yesnosdelete .yesnobox button {
    margin: 7px;
}