.notifier1-modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.544);
    z-index: 30;
    position: fixed;
    display: none;
}
.notifier1-modal .notifier-cont {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
}
.notifier1-modal .notifier-cont .notifier-box .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.notifier1-modal .notifier-cont .notifier-box .header h2 {
    flex: 2;
    font-size: 20px;
    color: #007ff5;
    margin-left: 6px;
    margin-top: 6px;
}
.notifier1-modal .notifier-cont .notifier-box .header button {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 6px;
}
.notifier1-modal .notifier-cont .notifier-box .header button i {
    color: #d33030;
}
.notifier1-modal .notifier-cont .notifier-box .notifier-content {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
}