.product-box {
    width: 200px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 10px;
    background: var(--simple-grayBG);
}
.product-box img {
    width: 100%;
    /* height: 200px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-box .details {
    padding: 10px;
}
.product-box .details .name a{
    color: var(--main-actingcolor);
    font-weight: 900;
    text-transform: capitalize;
    text-decoration: none;
}
.product-box .details .prinshop {

}
.product-box .details .prinshop .shop {
    flex: 1;
}
.product-box .details .prinshop .shop a{
    color: var(--sampledarkpurple);
    text-decoration: none;
}
.product-box .details .prinshop .price {
    /* color: var(--main-actingcolor); */
}
.product-box .details .shopBTN {
    width: 100%;
    background: var(--main-actingcolor);
    padding: 5px;
    border-radius: 5px;
    border: 0;
    color: var(--main-white);
    cursor: pointer;
    margin-top: 10px;
}