@media (max-width : 500px) {
    * {
        font-size: 13px;
    }
    .main-header {
        /* display: none; */
    }
    .remaining .topsoldnshops {
        display: flex;
        flex-direction: column;
    }
    .product-box {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
    .signupform-box {
        display: flex;
        flex-direction: column;
    }
    .signupform-box .signup-cont {
        width: 80vw;
    }
    .home-part1 {
        display: flex;
        flex-direction: column;
    }
    .home-part1 .left {
        display: none;
    }
}