.signupform-box {
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.signupform-box .signup-cont {
    width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: var(--main-white-seek);
}
.signupform-box .signup-cont .header {
    display: flex;
}
.signupform-box .signup-cont .header h1 {
    flex: 1;
    font-size: 20px;
    color: var(--main-actingcolor);
}
.signupform-box .signup-cont .header a {
    background: transparent;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}
.signupform-box .signup-cont .header a i {
    color: #d33030;;
}
.signupform-box .signup-cont .sign-box {
}
.signupform-box .signup-cont .sign-box p {
    margin: 7px;
}
.signupform-box .signup-cont .sign-box p .text-box,
.text-box {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--main-actingcolor);
    outline: 0;
}
.signupform-box .signup-cont .sign-box .btnz {
    text-align: center;
    display: flex;
}
.signupform-box .signup-cont .sign-box .btnz button {
    background: transparent;
    border: 0;
    padding: 5px;
    color: var(--main-white);
    border-radius: 4px;
    width: 49%;
    margin: auto;
    margin-left: 10px;
    cursor: pointer;
}
.signupform-box .signup-cont .sign-box .btnz .signup-Btn {
    background: var(--main-actingcolor);
}
.signupform-box .signup-cont .sign-box .btnz .clear-Btn {
    background: #d33030;
}