.sub-nav {
    width: 100%;
    margin-top: 10px;
}
.sub-nav .menu-nav {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sub-nav .menu-nav .nav-links {
    flex: 2;
}
.sub-nav .menu-nav  .nav-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sub-nav .menu-nav  .nav-links ul .cart-li {
    padding: 2px;
}
.sub-nav .menu-nav  .nav-links ul .cart-li a {
    background: #007ff5;
    text-decoration: none;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}
.sub-nav .menu-nav  .nav-links ul .search-li {
    flex: 1;
}
.sub-nav .menu-nav  .nav-links ul li .search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 7px;
    margin: auto;
    width: 400px;
}
.sub-nav .menu-nav  .nav-links ul li .search input {
    flex: 1;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #007ff5;
    /* color: #007ff5; */
    font-weight: 900;
    outline: 0;
}
.sub-nav .menu-nav  .nav-links ul li .search button {
    margin-left: -30px;
    border: 0;
    background: transparent;
}
.sub-nav .menu-nav  .nav-links ul li .search button {
    color: #007ff5;
    cursor: pointer;
}
.sub-nav .menu-nav  .profile-menu button {
    background: transparent;
    border: 0;
    cursor: pointer;
    cursor: pointer;

}
.sub-nav .menu-nav .profile-menu  button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* @media (max-width <= 500px) {
    .search input{
       width: 100px;
    }
} */