.search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    margin-top: 8px;
    width: 90%;
}
.search input {
    width: 90%;
    padding: 7px;
    flex: 1;
    border-radius: 10px;
    border: 1px solid #007ff5;
    font-weight: 900;
    outline: 0;
}
.search button {
    margin-left: -30px;
    border: 0;
    background: transparent;
}
.search button {
    color: #007ff5;
    cursor: pointer;
}