* {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
}
button {
    cursor: pointer ;
}
h1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}
.form-results {
    /* padding: ; */
}
.form-results div {
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    width: 86%;
    margin: 5px;
}
.form-results .failed {
    background: rgb(212, 63, 63);
}
.form-results .succed {
    background: rgb(1, 138, 127);
}
.form-results .succed a {
    color: #fff;
    text-decoration: underline;
}
body {
    background: #212529;
}

header {
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    /* height: 45px; */
    /* position: fixed; */
    top: 0;
    z-index: 1;
}
header .logo {
    flex: 1;
    padding: 5px;
}
header .logo img {
    width: 150px;
}
header .nav {
    flex: 2;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
}
header .nav form {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
header .nav form input {
    width: 250px;
    border: 1px solid #ff6c00;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: 0;
    color: #212529;
}
header .nav form button {
    padding: 8px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #ff6c00;
    color: #fff;
    margin-left: -10px;
}
header .nav .logz-btn {
    padding-right: 30px;
    margin-right: 10px;
}
header .nav .logz-btn button {
    background: #0a99d6;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: #fff;
}
header .balance {
    padding: 10px;
    color: #ff6c00;
}
/* Latest Products */
.latest-products {
    width: 100vw;
}
.latest-products .latest-row {
    display: flex;
    flex-wrap: wrap;
}
.latest-products .latest-row .latest-box {
    width: 220px;
    margin: 10px;
    background: #3b4146;
    border-radius: 10px;
}
.latest-products .latest-row .latest-box img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.latest-products .latest-row .latest-box .details {
    padding: 5px;
}
.latest-products .latest-row .latest-box .details .name a {
    color: #fff;
}
.latest-products .latest-row .latest-box .shop a {
    color: #0a99d6;
}
.latest-products .latest-row .latest-box p {
    color: #bababa;
}
.latest-products .latest-row .latest-box .price {
    color: #bababa;
    font-weight: bold;
}
.latest-products .latest-row .latest-box button {
    background: #ff6c00;
    color: #fff;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    width: 80%;
    margin: auto;
    margin-left: 20px;
}

/* Hero */
.hero {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Hero categories */
.hero-cate {
    flex: 1;
}
.hero-cate .cate-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}
.hero-cate .cate-row div {
    width: 200px;
    margin-top: 5px;
}
.hero-cate .cate-row div a {
    display: flex;
    flex-direction: row;
}
.hero-cate .cate-row div  img {
    width: 25px;
}
.hero-cate .cate-row div p {
    color: #fff;
    margin-left: 5px;
}
.home-slide {
    flex: 2;
}
.home-slide .slide-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.home-slide .slide-row .slide-box {
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    background: #393939b6;
    border-radius: 10px;
}
.home-slide .slide-row .slide-box h3 {
    color: #ff6c00;
}
.home-slide .slide-row .slide-box div {
    padding: 5px;
}
.home-slide .slide-row .slide-box img {
    width: 200px;
}
.home-slide .slide-row .slide-box p {
    color: #bababa;
    margin-bottom: 10px;
}
.home-slide .slide-row .slide-box a {
    background: #0a99d6;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hot-pro {
    flex: 2;
}
.hot-pro .hot-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.hot-pro .hot-row .hot-box {
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    background: #3b4146;
}
.hot-pro .hot-row .hot-box .hot-info {
    padding: 5px;
}
.hot-pro .hot-row .hot-box .hot-info .hot-name {
    color: #fff;
}
.hot-pro .hot-row .hot-box .hot-info .hot-shop .shop {
    color: #ff6c00;
}
.hot-pro .hot-row .hot-box .hot-info .hot-shop .desc {
    color: #bababa;
}
.hot-pro .hot-row .hot-box .hot-info .hot-shop .price {
    color: #bababa;
}
.hot-pro .hot-row .hot-box .hot-info button {
    color: #fff;
    background: #ff6c00;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    margin: auto;
}
.hot-pro .hot-row .hot-box img {
    width: 100%;
}


/* Buyer Sign in */
.buyer-sign-cont {
    height: 100vh;
    background: url('./../images/Defaults/Buyer-sign-in-form-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.buyer-sign-cont .buyer-sign-wrapper {
    height: 100vh;
    background: #21252978;
}
.buyer-sign-cont .buyer-sign-wrapper .sign-form-cont {
    width: 500px;
    margin: auto;
    margin-top: 40px;
    background: #3b4146b0;
    padding: 10px;
    border-radius: 5px;
}
.buyer-sign-cont .buyer-sign-wrapper .sign-form-cont form p {
    margin: 5px;
    color: #fff;
    width: 90%;
}
.buyer-sign-cont .buyer-sign-wrapper .sign-form-cont form p input {
    width: 95%;
    border: 2px solid #0a99d6;
    background: transparent;
    color: #fff;
}
.buyer-sign-cont .buyer-sign-wrapper .sign-form-cont form p button {
    color: #fff;
    padding: 5px;
    border: 0;
    float: right;
    border-radius: 5px;
    margin-right: 2%;
    background: #ff6c00;
}



/* Modals */
/* Select sign in account modal */
button.close-modal {
    background: transparent;
    border: 0;
    cursor: pointer;
}
button.close-modal i {
    color: #d33030;
}
button.cancel-modal {
    width: 100%;
    padding: 10px;
    border: 0;
    background: rgba(0, 0, 0, 0.173);
    cursor: pointer;
    font-weight: 700;
}
#s-in-modal .sign-in-type,
#s-t-modal .signup-type {
    margin: auto;
    margin-top: 30px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
}
/* #s-t-modal .signup-type .s-t-cont {} */
#s-in-modal .sign-in-type .s-in-cont .header,
#s-t-modal .signup-type .s-t-cont .header {
    padding: 10px;
}
#s-in-modal .sign-in-type .s-in-cont .header h2,
#s-t-modal .signup-type .s-t-cont .header h2 {
    flex: 2;
    font-size: 20px;
    color: #ff6c00;
}
#s-in-modal .sign-in-type .s-in-cont  .s-in-body,
#s-t-modal .signup-type .s-t-cont .s-t-body {
    padding: 10px;
}
#s-in-modal .sign-in-type .s-in-cont  .s-in-body p,
#s-t-modal .signup-type .s-t-cont .s-t-body p {
    color: #3b4146;
}
#s-in-modal .sign-in-type .s-in-cont  .s-in-body .b-cont,
#s-t-modal .signup-type .s-t-cont .s-t-body .b-cont {
    padding: 10px;
}
#s-in-modal .sign-in-type .s-in-cont  .s-in-body .b-cont a,
#s-t-modal .signup-type .s-t-cont .s-t-body .b-cont a {
    background: #ff6c00;
    padding: 7px;
    margin-right: 10px;
    border-radius: 5px;
    color: #fff;
}
/* Responsivenes */
@media (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        padding-left: 3%;
        padding-right: 3%;
    }
    .latest-products .latest-row .latest-box {
        width: 30%;
    }

}
@media (max-width: 510px) {
    header {
        flex-direction: column;
    }
    header .nav form input {
        width: 70%;
    }
    header .nav .logz-btn button span {
        display: none;
    }
    .latest-products .latest-row .latest-box {
        width: 40%;
    }
    .hero {
        flex-direction: column;
    }
    .hero-cate {
        width: 100vw;
    }
    .slide-box {
        width: 90%;
    }
    .buyer-sign-cont .buyer-sign-wrapper .sign-form-cont {
        width: 90%;
    }
}